@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">You're doing great, Mitch.</h1>
    <p>Here is a list of links that will go on the site.</p>
    <div class="text-left">
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Applicants" asp-page="/AllApplicants">Applicant Tracker</a>
            </li>
        </ul>
    </div>
    <div class="text-left">
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Equipment" asp-page="/Equipment">Equipment Management</a>
            </li>
        </ul>
    </div>
</div>